@using SumarioDeAlta.Controller
@model SumarioDeAlta.Domain.Entities.Paciente
@{
    ViewBag.Title = "DadosGerais";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(function () {
        $("#DadosGerais_DescricaoAlergia").attr({ disabled: true }).val("");
        $(".chkAlergia").attr("disabled", "true");
        $("#IsAlergia").change(function () {
            if ($("#IsAlergia").val() == "S") {
                $(".chkAlergia").removeAttr("disabled");
                $("#DadosGerais_DescricaoAlergia").removeAttr("disabled");
            } else {

                $("#DadosGerais_DescricaoAlergia").attr({ disabled: true }).val("");
                $(".chkAlergia").attr("disabled", "true").removeAttr("checked");
            }

        });
        $("#accordion").accordion({
            header: "> div > h3",
            collapsible: true,
            active: false,
            autoHeight: false,
            axis: "Y"
        }).sortable({
            axis: "Y",
            handle: "h3",
            stop: function (event, ui) {
                stop = true;
            }
        });
    })
</script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <ul>
      @*  <li>@Html.ActionLink("Pesquisa", "Index", "Paciente")</li>*@
       
    </ul>
    <div id="accordion" style="width: 60%">
        <div>
            <h3>
                <a href="#">Motivo de Admisão:</a></h3>
            <div>
                <div>
                    <fieldset data-role="none">
                        @foreach (var admissao in (new PacientesController()).TodasAdmissoes())
                        {
                            <label>
                                <input type="checkbox"  data-role="none" name="checkbox-0"  value='@admissao.Id'/>
                                @admissao.Nome
                            </label>
                            
                        }
                    </fieldset>
                </div>
            </div>
        </div>
        <div>
            <h3>
                <a href="#">Alergia</a></h3>
            <div id="divAlergia">
                <label for="flip-1" style="display: block; font-weight: bold">
                    Alergia Medicamentos e Outras:</label>
                <select name="flip-1" id="IsAlergia" data-role="slider">
                    <option value="N" selected="selected">Não</option>
                    <option value="S">Sim</option>
                </select>
                <div class="Alergia">
                    <div class="editor-label">
                        @Html.LabelFor(x => x.DadosGerais.DescricaoAlergia)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(x => x.DadosGerais.DescricaoAlergia)
                    </div>
                    <div>
                        <fieldset data-role="none">
                            @foreach (var alergia in (new PacientesController()).TodasAlergias())
                            {
                                <label>
                                    <input type="checkbox" class="chkAlergia" data-role="none" name="checkbox-0"  value='@alergia.Id'/>
                                    @alergia.Nome
                                </label>
                            }
                        </fieldset>
                    </div>
                </div>
                
            </div>
            <p>
                    <input type="submit" value="Create" />
                </p>
        </div>
    </div>
    
   
   
    
}
<div>

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
